<!-- Botón de login -->
@if(logeado){
	<div class="relative inline-block">
		<!-- Botón -->
		<button
			(click)="showProfileModal()"
			class="user-button ml-4 inline-flex items-center justify-center px-4 py-2 sm:px-5 sm:py-1 text-sm font-semibold text-white bg-gradient-to-r from-emerald-600 to-cyan-600 hover:from-emerald-700 hover:to-cyan-700 rounded-lg transition-all duration-300 transform hover:scale-105 hover:shadow-lg"
		>
			<img
				src="assets/user.svg"
				alt="Usuario"
				class="w-6 h-6 mr-2 text-white fill-current invert"
			/>
			<span class="font-medium text-white">{{ username }}</span>
		</button>

		<!-- Modal -->
		<div
			#profileModal
			(mousedown)="$event.stopPropagation()"
			class="flex flex-col absolute top-15 left-1/2 -translate-x-1/2 bg-gray-100 rounded-xl shadow-xl w-72 p-5 text-center transition-all duration-200 ease-out transform origin-top hidden opacity-0 scale-95"
		>
			<!-- <a
                routerLink="/settings"
                class="flex items-center w-full text-left px-4 py-2 rounded-lg transition-all duration-200 hover:bg-emerald-50 text-emerald-700 font-medium gap-2 border border-transparent hover:border-emerald-200"
            >
                <i class="fa-solid fa-gear text-emerald-600"></i>
                Ajustes
            </a> -->

            <button
                (click)="closeSession()"
                class="flex items-center w-full text-left px-4 py-2 rounded-lg transition-all duration-200 hover:bg-red-50 text-red-700 font-medium gap-2 border border-transparent hover:border-red-200"
            >
                <i class="fa-solid fa-right-from-bracket text-red-600"></i>
                Cerrar sesión
            </button>
		</div>
	</div>
}@else{
    <button #loginBtnHeader id="loginBtnHeader"
        class="ml-4 inline-flex items-center justify-center px-4 py-2 sm:px-5 sm:py-1 text-sm font-semibold text-white bg-gradient-to-r from-emerald-600 to-cyan-600 hover:from-emerald-700 hover:to-cyan-700 rounded-lg transition-all duration-300 transform hover:scale-105 hover:shadow-lg"
        (click)="startLoginProcess()"
        >Iniciar Sesión
    </button>
}

<!-- Modal de Iniciar Sesión -->
<div #loginModal 
    (mousedown)="clickOnCloseLoginModal()"
    id="loginModal" class="fixed inset-0 bg-black/50 hidden items-center justify-center z-50 h-screen">
    <div 
    (mousedown)="$event.stopPropagation()"
    class="bg-white rounded-xl shadow-xl w-96 p-6 relative">
        <!-- Botón cerrar -->
        <button #closeLoginModal id="closeLoginModal" (mousedown)="clickOnCloseLoginModal()" class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-3xl font-bold leading-none z-10" id="close-modal">&times;</button>

        <h2 class="text-xl font-bold mb-4 text-gray-900">Iniciar Sesión</h2>

        <form #loginForm="ngForm" id="loginForm" class="flex flex-col gap-4" (ngSubmit)="loginRequest()">
            <input type="text" ngModel name="username" placeholder="Usuario" required
                    autocomplete="username"
                    class="input-login" />

            <input type="password" ngModel name="password" placeholder="Contraseña" required
                    autocomplete="current-password"
                    class="input-login" />

            <button type="submit"
                    class="w-full sm:w-auto inline-flex items-center justify-center px-4 py-2 sm:px-5 sm:py-1 text-sm font-semibold text-white bg-gradient-to-r from-emerald-600 to-cyan-600 hover:from-emerald-700 hover:to-cyan-700 rounded-lg transition-all duration-300 transform hover:scale-105 hover:shadow-lg">
                Entrar
            </button>
            <p #loginMessage id="loginMessage" class="text-sm text-red-600 mt-2 hidden"></p>
        </form>
    </div>
</div>

<!-- Toast de logeo exitoso -->
<div #toast id="toast" class="fixed top-[69px] left-1/2 transform -translate-x-1/2 px-6 py-3 rounded-lg shadow-lg opacity-0 transition-all duration-500 w-80 text-center z-50 pointer-events-none bg-gradient-to-r from-emerald-600 to-cyan-600 text-white">
    <span #toastMessage id="toastMessage">Bienvenido {{username}}</span>
</div>