<!--Si el formario es visible, aparece-->
<div *ngIf="isVisible"
    (mousedown)="closeModal()"
    class="modal-backdrop">
    <div 
    (mousedown)="$event.stopPropagation()"
    class="relative bg-white rounded-2xl shadow-2xl w-full max-w-3xl sm:max-w-4xl md:max-w-5xl 
               overflow-hidden animate-fadeIn flex flex-col 
               h-auto max-h-[90vh] sm:h-[85vh] 
               overflow-y-auto mt-4 mb-4">
                    
        <button class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-3xl font-bold leading-none z-10" 
        (click)="closeModal()">&times;</button>

        <form [formGroup]="newsForm" id="news_form" class="flex flex-col gap-4 p-6"
        (ngSubmit)="onSubmit()"> 
            <h2 class="text-2xl sm:text-3xl font-extrabold text-emerald-700 mb-8">Crear Nueva Noticia</h2>
            <p>*Título: </p><input type="text" formControlName="title" placeholder="Título de la noticia." required class="input-news" />
            <p>*Fecha: </p><input type="date" formControlName="date" placeholder="dd/mm/yyyy" class="input-news" />
            <p>*Autor: </p><input type="text" formControlName="author" placeholder="Autor de la noticia." required class="input-news" />
            <p>*Categoría: </p><input type="text" formControlName="category" placeholder="Categoría de la noticia." required class="input-news" />
            <p>*Descripción: </p><input type="text" formControlName="description" placeholder="Descripción corta." required class="input-news" />
            <p>*Contenido: </p><textarea formControlName="content" placeholder="Contenido de la noticia." required class="input-news-high" rows="5"></textarea>
            <p>Enlace: </p><input type="text" formControlName="link" placeholder="Enlace a la noticia" class="input-news" />
            <p>Texto del botón: </p><input type="text" formControlName="buttonText" placeholder="Texto del botón en la interfaz." class="input-news" />
            <p>Imagen: </p> <input id="file-upload" class="hidden" (change)="onFileSelected($event)"
            type="file" formControlName="image" accept="image/png, image/jpeg, .png, .jpg"/>
            <!-- Este label se cambia por el input, funciona bien todo -->
            <label for="file-upload" 
                class="cursor-pointer inline-flex items-center px-4 py-2 bg-gray-200 text-gray-700 rounded-md border border-gray-300 hover:bg-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                </svg>
                Elegir archivo
            </label>
            <span class="ml-3 text-sm text-gray-600">{{ fileName || "No se ha seleccionado ningún archivo" }}</span>
            
            <p *ngIf="errorActive"
            id="errorMessage" 
            class="text-sm text-red-600 mt-2">ERROR: No se pudo crear la noticia. Revisa los caracteres introducidos y el archivo.</p>

            <button type="submit"
                class="w-full inline-flex items-center justify-center px-4 py-2 sm:px-5 sm:py-10 text-xl font-semibold text-white bg-gradient-to-r from-emerald-600 to-cyan-600 hover:from-emerald-700 hover:to-cyan-700 rounded-lg transition-all duration-300 transform hover:scale-102 hover:shadow-lg">
                Crear noticia
            </button>
        </form>
    </div>
</div>