/* Estilo para la capa de fondo (oscuro y cubre toda la pantalla) */
.modal-backdrop {
    position: fixed; /* Fija la posición relativa al viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    z-index: 999; /* Valor muy alto para estar encima de todo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
